# 4.9 Part 1

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Reletive path
path = '../'

# 3. Loading dataframe orders_products_merged_labeled.pkl
customers = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'customers.csv'))

In [3]:
customers.shape

(206209, 10)

In [4]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

## Data wrangling (Q4)

In [6]:
# Dropping columns that will not be used for the analysis
customers = customers.drop(columns = ['First Name','Surnam'])

In [7]:
# Renaming columns
customers.rename(columns = {'Gender' : 'gender', 'STATE' : 'state','Age' : 'age',
                               'n_dependants' : 'number_dependants', 'fam_status' : 'family_status'}, inplace = True)

## Data quality and consistency checks (Q5)

In [8]:
# Cheching for Nulls
customers.isnull().sum()

user_id              0
gender               0
state                0
age                  0
date_joined          0
number_dependants    0
family_status        0
income               0
dtype: int64

No missing of null values

In [9]:
# Chacking for duplicates
customers[customers.duplicated()]

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, number_dependants, family_status, income]
Index: []

There are not duplicate values for the customer dataset

In [10]:
# Defining function to check: if the data types in any column are mixed
def mixed_type_check(df):
    for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print (col)

mixed_type_check(customers)

No columns with mixed data type

In [11]:
# Loading dataframe orders_products_merged_labeled_users.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_labeled_users.pkl'))

In [18]:
# Dropping rows with NaN users
ords_prods_merge.dropna(subset=['user_id'], inplace=True)

In [13]:
ords_prods_merge.isnull().sum()

Unnamed: 0_x                    0
order_id                        0
user_id                         0
eval_set                        0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2078102
product_id                 206209
add_to_cart_order          206209
reordered                  206209
Unnamed: 0_y               236409
product_name               236409
aisle_id                   236409
department_id              236409
prices                     236409
_merge                          0
price_range_loc            236409
busiest_days                    0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
user_mean_price                 0
spending_flag                   0
median_prior_orders             0
order_frequency_flag            0
dtype: int64

In [14]:
# Dropping old _merge column
ords_prods_merge.drop(columns = ['_merge'], inplace=True)

In [15]:
# Changing a user_id data type
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('int')
ords_prods_merge['user_id'].dtype

dtype('int64')

In [16]:
ords_prods_merge['user_id'].describe()

count    3.264127e+07
mean     1.029383e+05
std      5.946689e+04
min      1.000000e+00
25%      5.142200e+04
50%      1.026160e+05
75%      1.543940e+05
max      2.062090e+05
Name: user_id, dtype: float64

In [17]:
# Changing a user_id data type to merge customers
customers['user_id'] = customers['user_id'].astype('int')
customers['user_id'].dtype

dtype('int64')

## Merging customers dataset (Q6)

In [19]:
# Merging datafremes
ords_prods_cust_merge = ords_prods_merge.merge(customers, on = 'user_id', how = 'outer', indicator = True)

## Exprting data (Q8)

In [20]:
# 7. Export the newly created dataframe ords_prods_cust_merge
ords_prods_cust_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_cust_merge.pkl'))

In [21]:
ords_prods_cust_merge.shape

(32641268, 33)

In [22]:
ords_prods_merge.isnull().sum()

Unnamed: 0_x                    0
order_id                        0
user_id                         0
eval_set                        0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2078102
product_id                 206209
add_to_cart_order          206209
reordered                  206209
Unnamed: 0_y               236409
product_name               236409
aisle_id                   236409
department_id              236409
prices                     236409
price_range_loc            236409
busiest_days                    0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
user_mean_price                 0
spending_flag                   0
median_prior_orders             0
order_frequency_flag            0
dtype: int64